<header>
  <div class="header__content">
    <div class="title">
      <img
        class="logo"
        src="../assets/images/header/LogoMakr-30xL5p.png"
        (click)="playSound()"
      />
    </div>
    <nav class="navbar d-none">
      <a href="#">Home</a>
      <a (click)="this.scrollService.scrollToDesiredAnchor('about-me')"
        >About me</a
      >
      <a (click)="this.scrollService.scrollToDesiredAnchor('skills')">Skills</a>
      <a (click)="this.scrollService.scrollToDesiredAnchor('projects')"
        >Portfolio</a
      >
    </nav>

    <img
      class="responsiv-icon"
      src="../assets/images/header/responsiv-menu.png"
      (click)="openDropDown()"
    />
  </div>
</header>

<div class="dropdown-menu" [ngClass]="open ? 'd-flex' : 'none'">
  <img
    (click)="closeDropDownWithoutLink()"
    class="close-img"
    src="../assets/images/header/x-mark-16.png"
    alt=""
  />
  <div class="responsiv-nav">
    <a href="">Home</a>
    <a (click)="closeDropDown('about-me')">About me</a>
    <a (click)="closeDropDown('skills')">Skills</a>
    <a (click)="closeDropDown('projects')">Portfolio</a>
  </div>
</div>
