section {
    border-top: 4px solid var(--orange);
    z-index: 21;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

p {
    font-size: 1rem;
}

.icon-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

@media (max-width: 1000px) {
    .logo {
        width: 100px !important;
    }
}
@media (min-width: 1000px) {
    section {
        flex-direction: row;
        justify-content: space-around;
        position: relative;
    }

    .mobile {
        display: none;
    }
    .desktop {
        display: flex !important;
    }
    .bottom-text {
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.links {
    display: flex;
    gap: 10px;
}

.logo {
    width: 150px;
    border-radius: 100%;
    margin-bottom: 5px;
}
