<section>
  <div>
    <div class="links">
      <a routerLink="imprint" class="desktop">Imprint</a>
      <a routerLink="legal-notice" class="desktop">Legal-notice</a>
    </div>
  </div>
  <span>© Bünyamin Altan 2023</span>
  <div class="icon-container">
    <a href="https://github.com/atnbn">
      <img src="assets/images/greeting/Vector (7).svg" alt="" />
    </a>
    <a href="mailto:atnb.developer@gmail.com">
      <img src="assets/images/greeting/Vector (6).svg" alt="" />
    </a>
    <a href="https://linkedin.com/in/bünyamin-altan-932322243">
      <img src="assets/images/greeting/Vector (5).svg" alt="" />
    </a>
  </div>
  <img class="logo" src="assets/images/header/logo.png" />
</section>
