<section id="projects">
  <div class="title__container">
    <div class="title__content">
      <img src="../assets/images/projects/LINE 3.svg" />
      <div class="text-title">
        <h2>Portfolio</h2>
        <span>
          This page is a sample of my work! scroll down to view other projects I
          have developed
        </span>
      </div>
    </div>
  </div>
  <div class="projects">
    <div class="project">
      <img src="../assets/images/projects/Pictures (PC mock up) cut.png" />
      <div class="description">
        <h3>El Polo Loco</h3>
        <span class="text-stack">JavaScript | HTML | CSS</span>
        <span>
          Jump, run and throw game based on object-oriented approach.Help Pepe
          to find coins and tabasco salsa to fight against hte crazy hen.</span
        >
        <div class="buttons">
          <a
            href="https://buenyamin-altan.developerakademie.com/Modul%2011/index.html"
            target="_blank"
          >
            <button class="test-btn">Live Test</button></a
          >
          <a target="_blank" href="https://github.com/atnbn/Ringoffire">
            <button class="github-btn">Github</button></a
          >
        </div>
      </div>
    </div>

    <!--  Join -->
    <div class="project row-reverse">
      <img src="../assets/images/projects/join.png" />
      <div class="description">
        <h3>Join</h3>
        <span class="text-stack">JavaScript | HTML | CSS</span>
        <span
          >Task manager inspired by the Kanban System. Create and organize tasks
          using drag and drop functions, assign users and categories.</span
        >
        <div class="buttons">
          <a
            target="_blank"
            href="https://buenyamin-altan.developerakademie.com/Kanban-/html/login.html"
          >
            <button class="test-btn">Live Test</button></a
          >
          <a target="_blank" href="https://github.com/atnbn/Kanban-Projekt">
            <button class="github-btn">Github</button></a
          >
        </div>
      </div>
    </div>
    <!--  Ring of Fiire -->
    <div class="project">
      <!-- <img src="../assets/images/projects/Pictures (PC mock up).png" /> -->
      <img src="../assets/images/projects/Ring of fire.png" />
      <div class="description">
        <h3>Ring of Fire</h3>
        <span class="text-stack"
          >Angular | TypeScript | Firebase | HTML | CSS | Material Design</span
        >
        <span
          >A small Game-app inspired by the popular drinking card game, that
          works on multiple devices.</span
        >
        <div class="buttons">
          <a target="_blank" href="https://ring-of-fire-2c176.web.app">
            <button class="test-btn">Live Test</button></a
          >
          <a target="_blank" href="https://github.com/atnbn/Ringoffire">
            <button class="github-btn">Github</button></a
          >
        </div>
      </div>
    </div>
    <!-- Slack -->
    <div class="project row-reverse">
      <!-- <img src="../assets/images/projects/Pictures (PC mock up).png" /> -->
      <img src="../assets/images/projects/Slack clone.png" />
      <div class="description">
        <h3>Slack Clone</h3>
        <span class="text-stack"
          >Angular | TypeScript | Firebase | HTML | CSS | Material Design
        </span>
        <span
          >Slack Clone is a messaging platform for teams that helps to bring all
          of your communication together in one place
        </span>
        <div class="buttons">
          <a target="_blank" href="https://slack-clone-c2cbe.web.app/login">
            <button class="test-btn">Live Test</button></a
          >
          <a
            target="_blank"
            href="https://github.com/navjotsingh96/Slack-Clone.git"
          >
            <button class="github-btn">Github</button></a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <div class="project">
      <img src="../assets/images/projects/Pictures (PC mock up).png" />
      <div class="bottom-con">
        <button class="github-btn">Git hub</button><button>Live test</button>
      </div>
    </div>
    <div class="project"><img src="" alt="" /></div>
    <div class="project"></div>
    <div class="project"></div>
 -->
