section {
    position: relative;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;
    overflow: hidden;
}

.title {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    img {
        width: 115px;
    }
    h2 {
        font-size: 3rem;
        font-weight: 600;
    }
}

.question-container {
    position: relative;
    img {
        width: 23px;
        position: absolute;
        left: -30px;
        top: 49px;
    }

    h3 {
        font-size: 2rem;
        font-weight: 600;
    }

    margin: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 20px;
    justify-content: center;
    input,
    textarea {
        background-color: #141d2f;
        color: #fff;
        border: 1px solid var(--red);
        border-radius: 10px;
        text-decoration: none;
        padding: 10px;

        :focus {
            border: 1px solid #d61ce6;
        }
    }

    input {
        height: 21px;
    }

    textarea {
        height: 100px;
    }
    ::placeholder {
        color: #fff;
    }
}

.button-container {
    display: flex;
    justify-content: center;
    button {
        background-color: var(--orange);
        color: #fff;
        border: 1px solid var(--red);
        border-radius: 10px;
        text-decoration: none;
        padding: 10px;
        width: 200px;
        font-size: 1.2rem;
        font-weight: 600;
        cursor: pointer;
    }
}

.background-red {
    position: absolute;
    bottom: -10rem;
    left: -10rem;
    z-index: -1;
}

.icon-con {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin: 20px;
    img {
        width: 50px;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }
}

@media (min-width: 1250px) {
    section {
        gap: 50px;
    }
    .main-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        margin: 20px;
    }

    .question-container {
        img {
            width: 35px;
            top: 27px;
            left: -39px;
        }
        h3 {
            font-size: 3rem;
            margin: 0;
        }
    }
}
