section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    gap: 55px;
}
.greeting {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    z-index: 2;
}

.greeting-text {
    display: flex;
    flex-direction: column;
}

.rotate-container {
    transform: rotate(-90deg);
    padding: 0;
    margin: 0;
    height: fit-content;
    z-index: 1;
}

.rotate-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 120%;
}
.title-name {
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
}

.title-job {
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 120%;
    color: var(--orange);
}

.image {
    height: 450px;
}

.background-effect {
    display: flex;
    position: absolute;
    height: 100vh;
    left: 0px;
    right: 0px;
    top: 80px;
    z-index: -1;
}

.red {
    position: absolute;
    left: 0;
    top: 0px;
}

.purp {
    position: absolute;
    right: 0;
    top: 160px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.talk-btn {
    border: none;
    border-radius: 5px;
    padding: 17px 35px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
        background: rgb(204, 53, 33);
        transform: scale(1.1);
    }
}

.icon {
    height: 35px;
    object-fit: none;

    &:hover {
        transform: scale(1.5);
    }
}
.orange-line {
    height: 4px;
}
.icon-container {
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    position: absolute;
    bottom: 50px;
}

.scroll-down-container {
    display: none;
}

@media (max-width: 400px) {
    .title-name {
        font-size: 30px;
    }
    .title-job {
        font-size: 20px;
    }
    .rotate-text {
        font-size: 25px;
    }
    .talk-btn {
        padding: 10px 20px;
    }
}

@media (max-width: 1000px) {
    .orange-line {
        position: absolute;
        left: 0;
        top: 15px;
    }

    .icon-container {
        display: flex;
        align-items: center;
        bottom: 90px;

        justify-content: center;
        width: 100vw;
        gap: 30px;
    }
}

@media (min-width: 1250px) {
    .background-effect {
        top: 0px;
    }
    .title-name {
        font-size: 7rem;
    }
    .rotate-text {
        font-size: 5.5rem;
    }

    .title-job {
        font-size: 4.3rem;
    }
    .red {
        top: -10px !important;
        position: absolute;
    }
    .red,
    .purp {
        height: 45rem;
        width: 35rem;
        top: 0px;
    }
    .icon-container {
        gap: 50px;
    }

    .icon {
        transform: scale(1.4);
    }

    .talk-btn {
        transform: scale(1.4);

        &:hover {
            transform: scale(1.5);
        }
    }
    .orange-line {
        height: 7px;
    }

    .scroll-down-container {
        display: flex;
        gap: 10px;
        transform: rotate(90deg);
        position: absolute;
        bottom: 6rem;
        right: 0;
        align-items: center;

        img {
            transform: rotate(-90deg);
        }
    }
    .scroll-down-text {
        font-size: 1.5rem;
    }
}

button {
    cursor: pointer;

    transition: all 0.3s ease-in-out;
    background: var(--orange);
    &:hover {
        background: rgb(204, 53, 33);
        transform: scale(1.1);
    }
}
