<app-header></app-header>

<section id="greeting">
  <div class="background-effect">
    <img class="image red" src="../assets/images/greeting/Red.png" />
    <img class="image purp" src="../assets/images/greeting/Magenta.png" />
  </div>
  <div class="greeting">
    <div class="rotate-container">
      <span class="rotate-text">I am</span>
    </div>
    <div class="greeting-text">
      <span class="title-name">Bünyamin Altan</span>
      <span class="title-job">FRONTEND DEVELOPER</span>
    </div>
  </div>

  <div class="button-container">
    <button
      (click)="this.scrollService.scrollToDesiredAnchor('contact')"
      class="talk-btn"
    >
      let's talk!
    </button>
  </div>
  <div class="icon-container">
    <img class="orange-line" src="../assets/images/greeting/orange-line.png" />
    <a target="_blank" href="https://github.com/atnbn">
      <img class="icon" src="../assets/images/greeting/Vector (7).svg" />
    </a>
    <a target="_blank" href="mailto:atnb.developer@gmail.com">
      <img class="icon" src="../assets/images/greeting/Vector (6).svg" />
    </a>
    <a target="_blank" href="https://linkedin.com/in/bünyamin-altan-932322243">
      <img class="icon" src="../assets/images/greeting/Vector (5).svg" />
    </a>
  </div>

  <div class="scroll-down-container">
    <span class="scroll-down-text">Scroll down</span>
    <img
      class="scroll-down-icon"
      src="../assets/images/greeting/arrow-down.svg"
    />
  </div>
</section>

<app-about-me></app-about-me>
<app-skill-stack> </app-skill-stack>
<app-projects></app-projects>
<app-contact></app-contact>
<app-footer></app-footer>
