:root {
    --orange: #fa7902;
    --red: #ff4747;
    --blue: #141d2f;
}

@font-face {
    font-family: poppins;
    src: url(fonts/poppins-v20-latin-700.ttf);
}

a {
    text-decoration: none;
    color: inherit;
}
html {
    overflow-x: hidden;

    scroll-behavior: smooth;
    box-sizing: border-box;
}
body {
    font-family: "poppins";

    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 17px;
    color: #fff;
    background: var(--blue);
}

.d-none {
    display: none;
}

.responsiv-icon {
    height: 22px;
}

textarea:focus,
input:focus,
a:focus {
    outline: none;
    text-decoration: none;
}
